.App {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between; */
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-content{
  flex: 1;
}

.App-footer {
  /* justify-self: flex-end; */
  background-color: #222;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a {
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
